.wrapper{
  width: 100px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  height: auto;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
}

button{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  border: 1px solid black;
  margin: 5px;
}

.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}