*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;

    
}

.lore{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 80%;
    height: 140%;
    background-size: cover; 
    margin: 1rem auto;
    

    &-text{
        
    }
    &-chars{
        display: flex;
        align-items: end;    
        justify-content: center;
        img{
            overflow: hidden; /* Bu olmadan image'ler bulunduğu div'in with'ine göre with almıyordu. Life-Saver*/
            width: 50%;
            min-width: 15%;
            margin: 1rem 5%;
        }
    }
}   